source_up_if_exists
dotenv_if_exists

PATH_add .venv/bin

if [ ! -d .venv ]; then uv venv; fi
uv sync --all-extras --quiet

export PYTHONSAFEPATH=true
export PYTHONPATH="$(pwd)"
watch_file ./pyproject.toml ./uv.lock ./.python-version

# vim:ft=direnv
