!/configuration.yaml
*.egg-info
*.py[oc]
*/build/*
*/dist/*
.*venv
.HA_VERSION
.cloud
.coverage
.env
.mypy_cache
.pytest*
.storage
.venv
.venv
__pycache__/
automations.yaml
blueprints
build/
coverage.xml
deps
dist/
home-assistant.log*
home-assistant_v2*
scenes.yaml
scripts.yaml
secrets.yaml
tts
wheels/
